@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'pop', sans-serif;
} 

/* .header-link {
  @apply flex items-center text-gray-700 px-3 py-2 rounded-md transition-all duration-200;
}

.header-link:hover {
  @apply bg-gray-800 text-white rounded-lg shadow-md;
}

.header-link:active {
  @apply bg-gray-700 text-white rounded-lg shadow-md;
}

.icon-admin {
  @apply inline w-4 h-4 mr-2
}

.filter-button {
  @apply bg-gradient-to-r from-purple-600 to-indigo-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl;
}

.filter-button:hover {
  @apply bg-gradient-to-r from-purple-700 to-indigo-800;
} */

@media (max-width: 640px) {
  body {
    font-size: 14px; /* Adjust font size for mobile */
    line-height: 1.5; /* Improve readability on mobile */
  }
 
  h1 {
    font-size: 1.5rem; /* Adjust heading size for mobile */
    text-align: center;
  }

  p {
    font-size: 0.875rem; /* Adjust paragraph size for mobile */
    /* @apply text-gray-600; Change paragraph text color for better contrast */
    color: #313131;
  }

  /* Additional styles for mobile */
  .container {
    /* @apply px-2; Reduce container padding on mobile */
    padding: 0 10px;
  }

  button {
    width: 100%;
    padding: 10px 0;
  }
}

@media (max-width: 1024px) and (min-width: 641px) {
  body {
    font-size: 16px; /* Adjust font size for tablet */
    line-height: 1.6; /* Improve readability on tablet */
  }
/* 
  .header-link {
    @apply px-3 py-1.5; 
    @apply text-base; 
  } */

  h1 {
    font-size: 2rem; /* Adjust heading size for tablet */
    text-align: center;
  }

  p {
    font-size: 1rem; /* Adjust paragraph size for tablet */
    /* @apply text-gray-700; Change paragraph text color for better contrast */
    color: #313131;
  }

  /* Additional styles for tablet */
  .container {
    /* @apply px-4; Adjust container padding for tablet */
    padding: 0 10px;
  }

  button {
    /* @apply w-auto; Adjust button width for tablet */
    /* @apply py-2.5; Adjust button padding for better touch targets */
    padding: 10px 0;
    width: 100%;
  }
}

@media (forced-colors: active) {
  /* .header-link {
    @apply bg-gray-800 text-white rounded-lg shadow-md;
  }
  .header-link:hover {
    @apply bg-gray-700 text-white rounded-lg shadow-md;
  }
  .header-link:active {
    @apply bg-gray-700 text-white rounded-lg shadow-md;
  }
  .icon-admin {
    @apply inline w-4 h-4 mr-2;
  }
  .filter-button {
    @apply bg-gradient-to-r from-purple-600 to-indigo-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl;
  }
  .filter-button:hover {
    @apply bg-gradient-to-r from-purple-700 to-indigo-800;
  }
  .filter-button:active {
    @apply bg-gradient-to-r from-purple-700 to-indigo-800;
  } */

}